<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  
    <nav class="navbar navbar-expand-lg navbar-text-secondary bg-text-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Myhood</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'index'%}">Home</a>
              </li>
              {% if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'hood' %}">Create new Neighborhood</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/password/change">change password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>





    <style>
        a{
            color: black;
        }
        nav{
            background-color: lightblue;
        }
        #kk{
            display:flex;
            align-items: center;
        }
    </style>
</body>

</html>

