<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">MyHood</a>
            </div>

            <div>

               
                
                <div class="col-sm-6 col-md-6">
                    {% if user.is_authenticated %}
                    <ul>
                        <li >
                            <a href="#" class=" btn btn-default" data-toggle="" role="button"
                                aria-expanded="false">Account
                                <span class="caret"></span>
                            </a>
                            <ul id="kk" role="menu">
                                <li>
                                    <a href="{%url 'index'%}">Home</a>
                                </li>
                                <li><a href=""><i class="fa fa-user-o"></i> Profile</a></li>
                                <li><a href="/admin"><i class="fa fa-user"></i><span>Admin</span></a></li>
                                <li>
                                    <a href="/accounts/password/change">Change Password</a>
                                </li>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                                <li>
                                    <a href="{% url 'hood' %}">Create New Neighbourhood</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <li>
                        <a class='btn btn-default' href="/accounts/login">Login</a>
                    </li>
                
                    {% endif %}
                </div>

                

            </div>

            

        </div>
    </nav>
    <style>
        a{
            color: black;
        }
        nav{
            background-color: lightblue;
        }
        #kk{
            display:flex;
            align-items: center;
        }
    </style>
</body>

</html>

